#divmain{
  // background-color: blueviolet;
  border-style: solid;
  border-width: 1%;
  border-color: black;
  width: 70%;
  height: 600px;
  margin: 0 auto;
}

.circuloamarelo{
  background-color: yellow;
  width: 60px;
  height: 60px;
  border-radius: 30px;

}

.circulolaranja{
  background-color:orange;
  width: 60px;
  height: 60px;
  border-radius: 30px;

}

.circuloverde{
  background-color: green;
  width: 60px;
  height: 60px;
  border-radius: 30px;

}

.circulovermelho{
  background-color: red;
  width: 60px;
  height: 60px;
  border-radius: 30px;

}

#divmenu{
  // background-color:ivory;
  border-style: solid;
  border-width: 1%;
  border-color: black;
  width: 20%;
  height: 95%;
  float: left;

}

#divjogo{
  // background-color:cornsilk;
  border-style: solid;
  border-width: 1%;
  border-color: black;
  width: 75%;
  height: 95%;
  margin-left: 2%;
  float: left;
}

#diviniciarjogo{
  margin-top: 10%;
  margin-left: 25%;
}

#divround{
  margin-top: 20%;
  // margin-bottom: 50%;
  margin-left: 25%;
  height: 20%;
}

#divtemporeacao{
  margin-bottom: 2%;
  margin-left: 5%;
}

#divtempomedio{
  margin-bottom: 2%;
  margin-left: 5%;
}

#divacertos{
  margin-bottom: 2%;
  margin-left: 5%;
}

#diverros{
  margin-bottom: 2%;
  margin-left: 5%;
}

#divscore{
  margin-bottom: 25%;
  margin-left: 5%;
}

#divlegenda{
  height: 20%;
  margin-left: 5%;
  margin-bottom: 20%;
}

#arrows{
  height: 90%;
  width: 90%;
}

#divreiniciar{
  margin-left: 25%;

}
