<div id="divmain">

  <div id="divmenu">

     <div id="diviniciarjogo">
      <button>Iniciar jogo</button>
    </div>

    <div>
      <div id="divtemporeacao">
        <label>Tempo de Reação: </label>
      </div>
      <div id="divtempomedio">
        <label>Tempo médio: </label>
      </div>
      <div id="divacertos">
        <label>Acertos: </label>
      </div>
    </div> 

     <div id="divreiniciar">
      <button>Reiniciar jogo</button>
    </div> 

  </div>
  <div id="divjogo">
    
  </div>

</div>
