<div id="divmain">

  <div id="divmenu">

     <div id="diviniciarjogo">
      <button (click)="inicioDeJogo()">Iniciar jogo</button>
    </div>

    <div>
      <div id="divtemporeacao">
        <label id="temporeacao">Tempo de Reação: </label>
      </div>
      <div id="divtempomedio">
        <label id="tempomedio">Tempo médio: </label>
      </div>
      <div id="divacertos">
        <label id="acertos">Acertos: </label>
      </div>
    </div>

     <div id="divreiniciar">
      <button onclick="RecarregaBola()">Reiniciar jogo</button>
    </div>

  </div>
  <div id="divjogo" (keydown)="handleKeyboardEvent($event)">
  </div>

</div>
